*{
	padding:0px;
	margin:0px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}
.header{
	min-height:100vh;
	width:100%;
	background-image:linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url("oth/banner.jpg");
	background-size: cover;
	position:relative;
}
ol{
	list-style-type:circle;
}
body{
	    font-family: 'Ubuntu', sans-serif;
	    font-weight: bold;
			background-color:#F9F9F9;
}
nav{
	display:flex;
	padding: 1% 1%;
	justify-content: space-between;
	align-items:center;
}
nav img{

	width:200px;
}
.nav-links{
	flex:1;
	text-align:right;
}
.nav-links ul li{
	list-style-type:none;
	display:inline-block;
	padding:8px 12px;
	position:relative;
}
.nav-links ul li a{
	text-decoration: none;
	color:white;
	font-size:13px;
}
.nav-links ul li::after{
	content:'';
	width:0%;
	height:2px;
	background:darkorange;
	display:block;
	margin:auto;
	transition:0.5s;
}
.nav-links ul li:hover::after{
	width:100%;
}
.text-box{
	width:90%;
	color:#fff;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	text-align: center;
}
.text-box h1{
	font-size:62px;
}
.text-box p{
	margin:10px 0px 40px;
	font-size:14px;
}
.hero-btn{
	display:inline-block;
	text-decoration:none;
	color:#fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size:13px;

	position:relative;
	cursor: pointer;
	transition: 1s;
}
.hero-btn:hover{
	border:1px solid #f44336;
	background:#f44336;


}

nav .fa{
	display: none;
}

@media(max-width: 700px)
{
	body{
		overflow-x:hidden;
	}
	.text-box h1{
		font-size:20px;
	}
	.nav-links ul li{
		display: block;
	}

	.nav-links{
		position:absolute;
		background:#f44336;
		height:100vh;
		width:200px;
		top: 0;
		right:-200px;
		text-align: left;
		z-index: 2;
		transition:1s;
	}

nav .fa{
	display:inline-block;
	color: #fff;
	margin:10px;
	font-size: 22px;
	cursor:pointer;
}
.nav-links ul{
	padding:30px;
}

}

/*---course*/
.course{
	width:80%;
	margin:auto;
	text-align: center;
	padding-top:100px;
}
h1{
	font-size: 36px;
	font-weight: 600;

}
.course p{
	color:orange;
	font-size:16px;
	font-weight:300;
	line-height:22px;
	padding:10px;
}
.row{
	margin-top: 5%;
	display:flex;
	justify-content:space-between;
	text-align:center;

}
.course-col{
	flex-basis:30%;
	background:rgba(0,128,128,0.1);
	border-radius:10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing:border-box;
	transition: 0.5s;
}
h3{
	text-align: center;
	font-weight: 600;
	margin:10px 0;
}
.course-col:hover{
	box-shadow:0 0 30px 0px rgba(0, 0, 0, 0.4);
}

/* for courses mobile view */

@media(max-width: 700px){
	.row{
		flex-direction:column;
	}
}

/* --------campus--------*/
.campus{
	width:80%;
	margin: auto;
	text-align: center;
	padding-top: 50px;
}
.campus-col{

	flex-basis:32%;
	border-radius: 10px;
	margin-bottom: 30px;
	position:relative;
	overflow:hidden;
	height:400px;
}
.campus-col img{
	width:100%;
	height:400px;
	display: block;

}
.layer{

	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	transition:0.5s;

}
.layer:hover{
	background:rgba(226,0,0,0.7);
}
.layer h3{
	width:100%;
	font-weight: 500;
	color:#fff;
	font-size:26px;
	bottom:0;
	left:50%;
	transform:translateX(-50%);
	position:absolute;
	opacity:0;
	transition:0.5s;
}
.layer:hover h3{
	bottom:49%;
	opacity:1;
}

/*------facilities----*/
.facilities{
	width:80%;
	margin:auto;
	text-align:center;
	padding-top:100px;

}
.facilities-col{
	flex-basis:31%;
	border-radius: 10px;
	margin-bottom:5%;
	margin-left:2%;
	text-align: left;
}
.facilities-col img{
	width:90%;
	height:50%;
	border-radius: 10px;
}
.facilities-col p{
	padding:0;
	text-align:left;
	font-size:15px;
	color:skyblue;
}
.facilities-col h3{
	margin-top: 16px;
	margin-bottom:15px;
	text-align: left;
}
/*-----testimonials--*/
.testimonials{
	width:80%;
	margin:auto;
	padding-top:100px;
	text-align:center;
}
.testimonials-col{
	flex-basis:44%;
	border-radius:10px;
	margin-bottom:5%;
	text-align:left;
	background:#fff3f3;
	padding:25px;
	cursor:pointer;
	display:flex;

}
.testimonials-col img{
	height:100px;
	margin-left:5px;
	margin-right:30px;
	border-radius:50%;

}

.testimonials-col h3{
	margin-top: 15px;
	text-align: left;
}
.testimonials-col i{
	color:#f44336;
}
@media(max-width: 700px){
	.testimonials-col img{
		margin-left:0px;
		margin-right:15px;	}
}
.cta {
	margin: 100px auto;
	width:80%;
	background-image:linear-gradient(rgba(0, 0, 0,0.5),rgba(0, 0, 0,0.5)),url(contact.jpg);
	background-position:center;
	background-size: cover;
	text-align: center;
	padding: 50px 0;
	border-radius:10px;
}
.cta h1{
	color: #fff;
	margin-bottom: 40px;
	padding: 0;
}
.cta a{
	border: 1px solid orange;
	color:orange;
}
@media(max-width:900px){
.cta h1{
	font-size: 24px;
}
}
.footer{
	width:100%;
	text-align: center;
	padding: 5px 0;

}
.footer h4{
	margin-bottom: 25px;
	margin-top:20px;
	font-size:30px;
}
.icons .fa{

	margin:0 13 px;
	cursor: pointer;
	padding: 18px 0;

}
.footer .fotterpara{
	font-size:18px;
}

@media(max-width:700px){

.footer h4{

font-size:20px;
}
.footer .fotterpara{
	font-size:12px;
}

}
